In [ ]:
%matplotlib inline
import pandas as pd

In [ ]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [ ]:
titles = pd.read_csv(r'D:\Downloads\pycon-pandas-tutorial-master\data\titles.csv')
titles.head()

                 title  year
0   A Trip to the Moon  2017
1  My Wife's Relatives  1939
2     Passione d'amore  1981
3           Purple Day  1999
4       Sud Side Stori  2000

In [ ]:
cast = pd.read_csv(r'D:\Downloads\pycon-pandas-tutorial-master\data\cast.csv')
cast.head()

### Using groupby(), plot the number of films that have been released each decade in the history of cinema.

### Use groupby() to plot the number of "Hamlet" films made each decade.

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

### In the 1950s decade taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

### Use groupby() to determine how many roles are listed for each movie named _The Pink Panther_.

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

### List each of the characters that Frank Oz has portrayed at least twice.